.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
    @include media-breakpoint-down(md) {
        display: none;
    }

    .phone-num {
        font-family: $Oswald;
    }
    .services {
        font-family: $Lato;
        div {
            display: inline-block;
            margin: 0 15px;
        }
    }

    .language {
        .en {
            display: none;
            margin-left: 5px;
        }
        &:hover {
            .en {
                display: inline-block;
            }
        }
    }
    .de,
    .en {
        display: inline-block;
        position: relative;
        height: 4px;
        background-color: red;
        width: 15px;
        &::before {
            content: "";
            position: absolute;
            background-color: black;
            height: 4px;
            width: 15px;
            top: -4px;
        }
        &::after {
            content: "";
            position: absolute;
            background-color: yellow;
            height: 4px;
            width: 15px;
            top: 4px;
        }
    }
}
