.header-main {
    margin: 20px 0;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(lg) {
        flex-wrap: wrap;
    }

    .searchbar {
        margin: 0 2.5rem;
        width: 100%;
        padding: 5px;
        padding-left: 10px;
        border: lightgrey 1px solid;

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
    .certificates {
        display: flex;
        @include media-breakpoint-down(lg) {
            display: none;
        }
        img {
            margin-right: 3px;
        }
    }
    .basic-navigation {
        display: flex;
        justify-content: space-between;
        margin-left: 2rem;
        @include media-breakpoint-down(lg) {
            margin-top: 1.5rem;
            justify-content: space-around;
            width: 100%;
            margin-left: 0;
            a {
                display: block;
            }
        }
        div {
            text-align: center;
            i {
                font-size: 1.5rem;
            }
            a {
                font-family: $Oswald;
                margin: 0 10px;
            }
            .fa-shopping-cart {
                position: relative;
                &::after {
                    content: "12";
                    position: absolute;
                    background: red;
                    color: white;
                    top: -7.5px;
                    right: -7.5px;
                    font-size: 10px;
                    font-weight: 300;
                    padding: 2px;
                    border-radius: 50%;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }
    }
}
