.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    @include media-breakpoint-down(md) {
        display: none;
    }

    .phone-num {
        font-family: $Oswald;
    }
    .services {
        font-family: $Lato;
        div {
            display: inline-block;
            margin: 0 15px;
        }
    }
}
