.product-details {
    .product-name {
        font-family: $Lato;
        font-weight: bold;
    }
    .row span {
        font-size: 0.9rem;
        color: grey;
    }
    .quick-links {
        border-top: lightgrey 1px solid;
        border-bottom: lightgrey 1px solid;
        padding: 10px 0;
        .col-20 {
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.9rem;
            @include media-breakpoint-down(md) {
                flex-direction: column;
                align-items: flex-end;
                .fa-clipboard-list {
                    display: none;
                }
            }
            a {
                font-weight: 500;
            }
        }
    }

    .select-type {
        @include media-breakpoint-down(md) {
            flex-direction: column;
            border-bottom: 1px solid lightgrey;
            padding-bottom: 1rem;
            span {
                margin-bottom: 10px;
            }
        }
        .dropdown-toggle {
            width: 100%;
            button {
                margin: 0;
            }
        }
    }
    .price-area {
        border-bottom: 1px solid lightgrey;
        padding-bottom: 10px;
        .price {
            font-family: $Oswald;
        }
        .taxes {
            font-family: $Merriweather;
        }
        .delivery-info {
            color: rgb(44, 209, 44);
            font-family: $Lato;
        }
    }
    .cart-area {
        margin-top: 2rem;

        width: 100%;

        .quantity {
            text-align: center;
            width: auto;
            max-width: 60px;
            height: 100%;
        }
        .add-to-cart {
            padding: 15px 7.5px;
            background: #e75862;
            color: white;
        }
    }

    .good-to-know {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        span {
            margin-top: 10px;
            font-family: $Lato;
        }
        .fa-check {
            color: rgb(189, 12, 12);
        }
    }
    .others {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        padding: 12.5px 0;
        align-items: center;
        span {
            font-family: $Lato;
            margin-right: 2rem;
            @include media-breakpoint-down(md) {
                display: block;
            }
        }
    }
}
