.product-details {
    .product-name {
        font-family: $Lato;
        font-weight: bold;
    }
    .row span {
        font-size: 0.9rem;
        color: grey;
    }
    .quick-links {
        border-top: lightgrey 1px solid;
        border-bottom: lightgrey 1px solid;
        padding: 10px 0;
        .col-20 {
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.9rem;
            @include media-breakpoint-down(md) {
                flex-direction: column;
                align-items: flex-end;
                .fa-clipboard-list {
                    display: none;
                }
            }
            a {
                font-weight: 500;
            }
        }
    }

    .select-type {
        @include media-breakpoint-down(md) {
            flex-direction: column;
            border-bottom: 1px solid lightgrey;
            padding-bottom: 1rem;
            .row {
                justify-content: center;
                text-align: center;
            }
            span {
                margin-bottom: 10px;
            }
        }
        .dropdown-toggle {
            width: 100%;
        }
    }
    .price-area {
        border-bottom: 1px solid lightgrey;
        padding-bottom: 10px;
        .price {
            font-family: $Oswald;
        }
        .taxes {
            font-family: $Merriweather;
        }
        .delivery-info {
            color: rgb(44, 209, 44);
            font-family: $Lato;
        }
    }
    .cart-area {
        margin-top: 2rem;

        width: 100%;

        .quantity {
            width: auto;
            max-width: 60px;
            height: 100%;
        }
        .add-to-cart {
            padding: 15px 7.5px;
            background: #e75862;
            color: white;
        }
    }

    .good-to-know {
        columns: 1;
        font-family: $Lato;
        margin-bottom: 1rem;
        @include media-breakpoint-up(lg) {
            columns: 2;
        }
    }
    .others {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        padding: 12.5px 0;
        align-items: center;
        span {
            font-family: $Lato;
            margin-right: 2rem;
            @include media-breakpoint-down(md) {
                display: block;
            }
        }
    }
}

.check {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    &::before {
        position: absolute;
        content: "";
        top: 50%;
        height: 50%;
        width: 3px;
        background: red;
        transform: rotate(-45deg);
    }
    &::after {
        position: absolute;
        content: "";
        bottom: 0;
        height: 3px;
        width: 100%;
        background: red;
        transform: translateX(1px) translateY(-3px) rotate(-45deg);
    }
}
