.product-images {
    height: 100%;
}

.side-swiper,
.main-swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    .swiper-slide {
        height: auto !important;
    }
}
