.signette-light::after {
    content: "";
    background: url("../../../images/desktop/signette.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    @media screen and (min-width: 992px) {
        top: calc(50% - 62.5px);
        left: calc(50% - 62.5px);
        width: 125px;
        height: 125px;
    }
}

.brand-button {
    @media screen and (min-width: 768px) {
        position: absolute;
        bottom: 100%;
        margin-bottom: 20px;
    }
}

.statement {
    // feel good, look good
    font-weight: 700;
    text-align: center;
    margin: 2rem 0;
}
