.filter-header {
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(sm) {
        flex-direction: column-reverse;
        .sort-by {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }
}
