.filter-options {
    display: flex;
    @include media-breakpoint-down(md) {
        flex-direction: column;

        .btn {
            margin-bottom: 10px;
        }
    }
    .btn {
        margin-right: 10px;
    }
    .btn-light {
        border: 1px solid lightgrey;
    }
}
