.newsletter-tile {
    padding: 0 !important;
    position: relative;

    .newsletter-tile-content {
        width: 100%;
        bottom: 0px;
        height: 50%;
        position: absolute;
        background: rgb(219, 2, 2);
        &:before {
            content: "";
            position: absolute;
            bottom: 0px;
            clip-path: polygon(0 100%, 100% 81%, 100% 100%, 0 100%);
            background: rgb(219, 2, 2);
        }

        .newsletter-tile-text {
            font-weight: bold;
            font-family: $Oswald;
            line-height: 150%;
            color: white;
            margin: 0 7.5%;
            letter-spacing: 1px;
        }
        .newsletter-cta {
            display: block;
            background: white;
            font-weight: 500;
            border: none;
            color: black;
            width: 85%;
            margin: 0 7.5%;
        }
    }
}
