
footer.mt-5
    .container-fluid.bg-dark.pt-5.pb-4
        .container
            .row
                .col-24.col-md-12.col-lg-4.footer-category
                    .footer-category-header.linklist-toggle
                        h6 UNTERNEHMEN
                        i.fas.fa-chevron-down
                    .footer-category-body
                        a(href="/") Our Company
                        a(href="/") Die Marke
                        a(href="/") Facts & Figures
                        a(href="/") bugatti Holding

                .col-24.col-md-12.col-lg-4.footer-category
                    .footer-category-header.linklist-toggle
                        h6 KARRIERE
                        i.fas.fa-chevron-down
                    .footer-category-body
                        a(href="/") Stellenangebote
                        a(href="/") bugatti als Arbeitgeber
                        a(href="/") Weiterbildung
                        a(href="/") Standorte
                        a(href="/") FAQ
                .col-24.col-md-12.col-lg-4.footer-category
                    .footer-category-header.linklist-toggle
                        h6 NACHHALTIGKEIT
                        i.fas.fa-chevron-down
                    .footer-category-body
                        a(href="/") Produktion
                        a(href="/") Menschen
                        a(href="/") Umwelt
                        a(href="/") Engagement
                .col-24.col-md-12.col-lg-4.footer-category
                    .footer-category-header.linklist-toggle
                        h6 PRESSE
                        i.fas.fa-chevron-down
                    .footer-category-body
                        a(href="/") News
                        a(href="/") Lookbook
                        a(href="/") Pressekontakt
                        a(href="/") Presselogin
                       
                .col-24.col-md-12.col-lg-4.footer-category
                    .footer-category-header.linklist-toggle
                        h6 LIZENZEN
                        i.fas.fa-chevron-down
                    .footer-category-body
                        a(href="/") Lizenzpartner
                        a(href="/") Lizenzmodell
                    
                .col-24.col-md-12.col-lg-4.footer-category 
                    .footer-category-header 
                        h6 FOLGEN SIE UNS
                    .footer-links
                        a
                            img(src="images/icons/facebook.png", alt="")
                        a
                            img(src="images/icons/instagram.png", alt="")
                        a
                            img(src="images/icons/youtube.png", alt="")
                       
                        
        
    .container.sub-footer
        a(href="/") STOREFINDER
        a(href="/") ONLINE-SHOP
        a(href="/") KONTAKT 
        a(href="/") IMPRESSUM
        a(href="/") DATENSCHUTZ
