header
    .container-fluid    
        .header-top
            .phone-num 05423 / 477990
            .services
                <div> <span class="check"></span></i> Persönliche Fachberatung</div>
                <div> <span class="check"></span></i> Gratis Lieferung ab 50€ Bestellwert*</div>
                <div> <span class="check"></span></i> Europaweiter Versand</div>
                
            .language
                p DE
        .header-main  
                img(src="images/brand.png", alt="")
            
                input.searchbar(type="text" placeholder="Suche")
            
                .certificates
                    img(src="images/ssl.png", alt="")
                    img(src="images/idealo.png", alt="")
                    img(src="images/trusted-shop.png", alt="")
            
                .basic-navigation
                    div
                        i.fas.fa-list
                        a(href="/") MERKLISTE
                    div
                        i.fas.fa-user
                        a(href="/") LOGIN
                    div
                        i.fas.fa-shopping-cart
                        a(href="/") WARENKORB
    .header-nav
        .container-fluid
            ul.nav-links
                li.nav-item
                    .main-category
                        a(href="/") Möbelbeschläge
                        
                    .sub-categories
                        .row
                            .col-24.col-md-8.col-lg-4
                                .sub-category
                                    h6.sub-category-name Kugel- und Schubkastenauszüge 
                                    ul.sub-category-links  
                                        li 
                                            a.desktop-nav-link(href="#") Kugelauszüge
                                        li 
                                            a.desktop-nav-link(href="#") Unterflurführungen
                                        li 
                                            a.desktop-nav-link(href="#") Rollschubführungen
                                        li 
                                            a.desktop-nav-link(href="#") Spezielle Führungen
                                        li 
                                            a.desktop-nav-link(href="#") Zubehör
                            .col-24.col-md-8.col-lg-4
                                .sub-category
                                    h6.sub-category-name Zargen- und Schubkastensysteme
                                    ul.sub-category-links  
                                        li 
                                            a.desktop-nav-link(href="#") Einwandig
                                        li 
                                            a.desktop-nav-link(href="#") Doppelwandig
                                        li 
                                            a.desktop-nav-link(href="#") Schubkasteneinsätze
                                        li 
                                            a.desktop-nav-link(href="#") Zubehör
                                       
                            .col-24.col-md-8.col-lg-4
                                .sub-category
                                    h6.sub-category-name Scharniere und Bänder
                                    ul.sub-category-links  
                                        li 
                                            a.desktop-nav-link(href="#") Topfbänder
                                        li 
                                            a.desktop-nav-link(href="#") Möbelscharniere
                                        li 
                                            a.desktop-nav-link(href="#") Montageplatten
                                        li 
                                            a Spezielle Scharniere
                                        li 
                                            a.desktop-nav-link(href="#") Push-Open
                                        li 
                                            a.desktop-nav-link(href="#") Zubehör
                            .col-24.col-md-8.col-lg-4
                                .sub-category
                                    h6.sub-category-name Griffe und Knöpfe
                                    ul.sub-category-links  
                                        li 
                                            a.desktop-nav-link(href="#") Möbelgriffe
                                        li 
                                            a.desktop-nav-link(href="#") Griffleisten
                                        li 
                                            a.desktop-nav-link(href="#") Knöpfe
                                        li 
                                            a.desktop-nav-link(href="#") Zubehör
                            .col-24.col-md-8.col-lg-4 
                                .sub-category
                                    h6.sub-category-name Möbelfüße und Rollen
                                    ul.sub-category-links  
                                        li 
                                            a.desktop-nav-link(href="#") Möbelfüße
                                        li 
                                            a.desktop-nav-link(href="#") Sockelfüße
                                        li 
                                            a.desktop-nav-link(href="#") Möbelrollen
                                        li 
                                            a.desktop-nav-link(href="#") Spezielle Rollen
                                        li 
                                            a.desktop-nav-link(href="#") Zubehör
                            .col-24.col-md-8.col-lg-4
                                .sub-category
                                    h6.sub-category-name Tischbeine, -gestelle und -beschläge
                                    ul.sub-category-links  
                                        li 
                                            a.desktop-nav-link(href="#") Tischbeine
                                        li 
                                            a.desktop-nav-link(href="#") Tisch-, Bankangestelle
                                        li 
                                            a.desktop-nav-link(href="#") Tischbeschläge
                                        li 
                                            a.desktop-nav-link(href="#") Zubehör
                            .col-24.col-md-8.col-lg-4
                                .sub-category
                                    h6.sub-category-name Haken, Hakenleisten und Kleiderhaken
                                    ul.sub-category-links  
                                        li 
                                            a.desktop-nav-link(href="#") Haken
                                        li 
                                            a.desktop-nav-link(href="#") Dreh-, Schwenkhaken
                                        li 
                                            a.desktop-nav-link(href="#") Hakenleisten
                                        li 
                                            a.desktop-nav-link(href="#") Handtuchhalter
                                        li 
                                            a.desktop-nav-link(href="#") Spezielle Halter und Haken
                                        li 
                                            a.desktop-nav-link(href="#") Zubehör
                            
                            .col-24.col-md-8.col-lg-4
                                .sub-category
                                    h6.sub-category-name Garderobe- und Schrankausstattung
                                    ul.sub-category-links  
                                        li 
                                            a.desktop-nav-link(href="#") Garderobenstangen
                                        li 
                                            a.desktop-nav-link(href="#") Kleiderlifte
                                        li 
                                            a.desktop-nav-link(href="#") Kleiderbügel
                                        li 
                                            a.desktop-nav-link(href="#") Auszugsysteme Garderobe
                                        li 
                                            a.desktop-nav-link(href="#") Accessiores

                            .col-24.col-md-8.col-lg-4
                                .sub-category
                                    h6.sub-category-name Konsolen, Regal- und Fachbodensysteme
                                    ul.sub-category-links  
                                        li 
                                            a.desktop-nav-link(href="#") Regalkonsolen
                                        li 
                                            a.desktop-nav-link(href="#") Regalbodenträger
                                        li 
                                            a.desktop-nav-link(href="#") Barkonsolen
                                        li 
                                            a.desktop-nav-link(href="#") Fachbodenträger
                                        li 
                                            a.desktop-nav-link(href="#") Tablarträger
                                        li 
                                            a.desktop-nav-link(href="#") Smartcube
                                        li 
                                            a.desktop-nav-link(href="#") Zubehör
                            .col-24.col-md-8.col-lg-4
                                .sub-category
                                    h6.sub-category-name Büroeinrichtungen und Management
                                    ul.sub-category-links  
                                        li 
                                            a.desktop-nav-link(href="#") Kabeldurchlässe und Kabelorganisation
                                        li 
                                            a.desktop-nav-link(href="#") Organisationselemente
                                        li 
                                            a.desktop-nav-link(href="#") Büromöbel
                                        li 
                                            a.desktop-nav-link(href="#") Zubehör
                            
                        

                li.nav-item
                    .main-category
                        a(href="/")  Baubeschläge 
                    .sub-categories
                        .row
                            .col-24.col-md-8.col-lg-4
                                .sub-category
                                    h6.sub-category-name Schlösser und Schließsysteme 
                                    ul.sub-category-links  
                                        li 
                                            a.desktop-nav-link(href="#") Kugelauszüge
                                        li 
                                            a.desktop-nav-link(href="#") Unterflurführungen
                                        li 
                                            a.desktop-nav-link(href="#") Rollschubführungen
                                        li 
                                            a.desktop-nav-link(href="#") Spezielle Führungen
                                        li 
                                            a.desktop-nav-link(href="#") Zubehör
                            .col-24.col-md-8.col-lg-4
                                .sub-category
                                    h6.sub-category-name Tür- und Fensterbeschläge
                                    ul.sub-category-links  
                                        li 
                                            a.desktop-nav-link(href="#") Einwandig
                                        li 
                                            a.desktop-nav-link(href="#") Doppelwandig
                                        li 
                                            a.desktop-nav-link(href="#") Schubkasteneinsätze
                                        li 
                                            a.desktop-nav-link(href="#") Zubehör
                                       
                            .col-24.col-md-8.col-lg-4
                                .sub-category
                                    h6.sub-category-name Schiebetechnik
                                    ul.sub-category-links  
                                        li 
                                            a.desktop-nav-link(href="#") Topfbänder
                                        li 
                                            a.desktop-nav-link(href="#") Möbelscharniere
                                        li 
                                            a.desktop-nav-link(href="#") Montageplatten
                                        li 
                                            a.desktop-nav-link(href="#") Spezielle Scharniere
                                        li 
                                            a.desktop-nav-link(href="#") Push-Open
                                        li 
                                            a.desktop-nav-link(href="#") Zubehör
                            .col-24.col-md-8.col-lg-4
                                .sub-category
                                    h6.sub-category-name Montage- und Befestigungsmaterial
                                    ul.sub-category-links  
                                        li 
                                            a.desktop-nav-link(href="#") Möbelgriffe
                                        li 
                                            a.desktop-nav-link(href="#") Griffleisten
                                        li 
                                            a.desktop-nav-link(href="#") Knöpfe
                                        li 
                                            a.desktop-nav-link(href="#") Zubehör
                li.nav-item
                    .main-category
                        a(href="/") Küchenausstattung
                    .sub-categories
                        .row
                            .col-24.col-md-8.col-lg-4
                                .sub-category
                                    h6.sub-category-name Küchenausstattung
                                    ul.sub-category-links  
                                        li 
                                            a.desktop-nav-link(href="#") Kugelauszüge
                                        li 
                                            a.desktop-nav-link(href="#") Unterflurführungen
                                        li 
                                            a.desktop-nav-link(href="#") Rollschubführungen
                                        li 
                                            a.desktop-nav-link(href="#") Spezielle Führungen
                                        li 
                                            a.desktop-nav-link(href="#") Zubehör 
                li.nav-item
                    .main-category
                        a(href="/") Badausstattung & Sanitär
                    .sub-categories
                        .row
                            .col-24.col-md-8.col-lg-4
                                .sub-category
                                    h6.sub-category-name Badausstattung & Sanitär
                                    ul.sub-category-links  
                                        li 
                                            a.desktop-nav-link(href="#") Kugelauszüge
                                        li 
                                            a.desktop-nav-link(href="#") Unterflurführungen
                                        li 
                                            a.desktop-nav-link(href="#") Rollschubführungen
                                        li 
                                            a.desktop-nav-link(href="#") Spezielle Führungen
                                        li 
                                            a.desktop-nav-link(href="#") Zubehör 
                li.nav-item
                    .main-category
                        a(href="/") Beleuchtung
                    .sub-categories
                        .row
                            .col-24.col-md-8.col-lg-4
                                .sub-category
                                    h6.sub-category-name Beleuchtung
                                    ul.sub-category-links  
                                        li 
                                            a.desktop-nav-link(href="#") Kugelauszüge
                                        li 
                                            a.desktop-nav-link(href="#") Unterflurführungen
                                        li 
                                            a.desktop-nav-link(href="#") Rollschubführungen
                                        li 
                                            a.desktop-nav-link(href="#") Spezielle Führungen
                                        li 
                                            a.desktop-nav-link(href="#") Zubehör 
                li.nav-item
                    .main-category
                        a(href="/") Klappenbeschläge
                    .sub-categories
                        .row
                            .col-24.col-md-8.col-lg-4
                                .sub-category
                                    h6.sub-category-name Klappenbeschläge
                                    ul.sub-category-links  
                                        li 
                                            a.desktop-nav-link(href="#") Kugelauszüge
                                        li 
                                            a.desktop-nav-link(href="#") Unterflurführungen
                                        li 
                                            a.desktop-nav-link(href="#") Rollschubführungen
                                        li 
                                            a.desktop-nav-link(href="#") Spezielle Führungen
                                        li 
                                            a.desktop-nav-link(href="#") Zubehör 
                li.nav-item
                    .main-category
                        a(href="/") Schranksysteme
                    .sub-categories
                        .row
                            .col-24.col-md-8.col-lg-4
                                .sub-category
                                    h6.sub-category-name Schranksysteme
                                    ul.sub-category-links  
                                        li 
                                            a.desktop-nav-link(href="#") Kugelauszüge
                                        li 
                                            a.desktop-nav-link(href="#") Unterflurführungen
                                        li 
                                            a.desktop-nav-link(href="#") Rollschubführungen
                                        li 
                                            a.desktop-nav-link(href="#") Spezielle Führungen
                                        li 
                                            a.desktop-nav-link(href="#") Zubehör 
                li.nav-item
                    .main-category
                        a(href="/") Ersatzteile
                    .sub-categories
                        .row
                            .col-24.col-md-8.col-lg-4
                                .sub-category
                                    h6.sub-category-name Ersatzteile
                                    ul.sub-category-links  
                                        li 
                                            a.desktop-nav-link(href="#") Kugelauszüge
                                        li 
                                            a.desktop-nav-link(href="#") Unterflurführungen
                                        li 
                                            a.desktop-nav-link(href="#") Rollschubführungen
                                        li 
                                            a.desktop-nav-link(href="#") Spezielle Führungen
                                        li 
                                            a.desktop-nav-link(href="#") Zubehör 
                li.nav-item
                    .main-category
                        a(href="/") Sale
                    .sub-categories
                        .row
                            .col-24.col-md-8.col-lg-4
                                .sub-category
                                    h6.sub-category-name Sale
                                    ul.sub-category-links  
                                        li 
                                            a.desktop-nav-link(href="#") Kugelauszüge
                                        li 
                                            a.desktop-nav-link(href="#") Unterflurführungen
                                        li 
                                            a.desktop-nav-link(href="#") Rollschubführungen
                                        li 
                                            a.desktop-nav-link(href="#") Spezielle Führungen
                                        li 
                                            a.desktop-nav-link(href="#") Zubehör 