header
 .container-fluid 
    nav.pb-2.pt-4
        a(href="#").mobile-menu-toggle
            i.fas.fa-bars.d-md-none.text-dark
        
       
        a(href="/")
  
            picture
                source(srcset="images/desktop/bugatti-logo.svg", type="image/svg+xml")
                img(src="images/mobile/bugatti-logo.png")
                 
        i.fas.fa-search.d-md-none

    
    #menu
        ul.nav-links
            li
                a(href="/") UNTERNEHMEN
            li
                a(href="/").active-link KARRIERE
            li
                a(href="/") NACHHALTIGKEIT
            li
                a(href="/") PRESSE
            li 
                a(href="/") LIZENZEN
            li
                <a href="/"><icon class="fas fa-search"></icon>&nbsp;Suche</a>
    
    #mobileMenu
        ul
            li
                a(href="/") UNTERNEHMEN
                ul  
                    li 
                        a(href="/") Our Company
                    li 
                        a(href="/") Die Marke
                    li 
                        a(href="/") Facts & Figures
                    li 
                        a(href="/") bugatti Holding
                    
            li
                a(href="/") KARRIERE
                ul  
                    li 
                        a(href="/") Stellenangebote
                    li 
                        a(href="/") bugatti als Arbeitgeber
                    li 
                        a(href="/") Weiterbildung
                    li 
                        a(href="/") Standorte
                    li 
                        a(href="/") FAQ
            li
                a(href="/") NACHHALTIGKEIT
                ul  
                    li 
                        a(href="/") Produktion
                    li 
                        a(href="/") Menschen
                    li 
                        a(href="/") Umwelt
                    li 
                        a(href="/") Engagement
            li
                a(href="/") PRESSE
                ul  
                    li 
                        a(href="/") News
                    li 
                        a(href="/") Lookbook
                    li 
                        a(href="/") Pressekontakt
                    li 
                        a(href="/") Presselogin
            li 
                a(href="/") LIZENZEN
                ul  
                    li 
                        a(href="/") Lizenzpartner
                    li 
                        a(href="/") Lizenzmodell
                   
            

       
      
        
           
             

 