link(rel="stylesheet", href="css/main.css")
//script(src="js/modernizr-custom.js")

script(data-main='js/all', src='vendor/requirejs/require.js')

//- script(src="js/vendor.js")
//- script(src="js/all.js")

