.newsletter-tile.col-24.col-sm-12.col-md-6.mb-4.pb-2
     img.newsletter-tile-background.w-100(src="images/newsletter.png")
     .newsletter-tile-content
        h5.newsletter-tile-text.mt-3 NEWSLETTER ABONNIEREN UND 10 EURO GUTSCHEIN SICHERN!
        button.newsletter-cta.btn.btn-outline-primary.btn-block.mt-2 Jetzt anmelden 
            i.fas.fa-chevron-right

