.product.col-24.col-md-6.mb-4
    img.w-100(src="images/product-example.png", alt="")
    h6.product-name.mt-3 Möbelgriffleiste Jane Aluminium
    span.product-price.mt-3 Ab 1,90 EUR*
    span.delivery-time.mt-2 Lieferzeit: 1-3 Werktage*