.product-wrapper.col-24.col-sm-12.col-md-6.mb-4.pb-2
    .product
        a(href="product-details.html")
            img.w-100.main-picture(src="images/product-example-3.png", alt="")
            .product-info
                h6.product-name.mt-3  Kesseböhmer LeMans II Eckschrank Beschlag anthrazit 450, 500 oder 600 mm
                span.product-price.mt-3 Ab 288 EUR*
                span.delivery-time.mt-2 Lieferzeit: 1-3 Werktage*
                .more-pictures
                    img.preview-image(src="images/product-example-3.png", alt="")
                    img.preview-image(src="images/product-example-3.png", alt="")
                    img.preview-image(src="images/product-example-3.png", alt="")
                    img.preview-image(src="images/product-example-3.png", alt="")
                    i.fas.fa-plus 
            .bookmark.fas.fa-clipboard-list