.swiper-product-wrapper
    .swiper-product
        img.w-100.main-picture(src="images/product-example-2.jpg", alt="")
        h6.product-name.mt-3 Möbelgriff PIYA BA 160mm JUNKER Design
        span.product-price.mt-3 Ab 4,90 EUR*
        span.delivery-time.mt-2 Lieferzeit: 1-3 Werktage*
        