extends ./layouts/main.pug

block title
    | Boilerplate

block content
    .container-fluid
        section.category-header
                <h6 class="my-breadcrumb">Startseite&nbsp;<i class="fas fa-chevron-right"></i>&nbspMöbelbeschläge&nbsp;<i class="fas fa-chevron-right"></i>&nbsp;Griffe & Türdrücker&nbsp;<i class="fas fa-chevron-right"></i>&nbsp;Griffleisten  </h6>
                h2.category-name GRIFFLEISTEN
    .container              
        section.filter-header.mt-4
            span Filtern nach:
            div
                span Sortieren nach:&nbsp;
                button.btn.btn-outline-primary Neu im Shop &nbsp;
                    i.fas.fa-chevron-down
        section.filter-options.mt-3
            button.btn.btn-primary Kategorie&nbsp;
                    i.fas.fa-chevron-down
            button.btn.btn-light Produktart&nbsp;
                    i.fas.fa-chevron-down
            button.btn.btn-light Farbe&nbsp;
                    i.fas.fa-chevron-down
            button.btn.btn-light Stil&nbsp;
                    i.fas.fa-chevron-down
            button.btn.btn-light Werkstoff&nbsp;
                    i.fas.fa-chevron-down
            button.btn.btn-light Raum&nbsp;
                    i.fas.fa-chevron-down
            button.btn.btn-secondary.px-5 Weitere Filter &nbsp;
                    i.fas.fa-plus
                    
        section.products.mt-5
            .row.justify-content-between
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
                include ./partials/product.pug
        
        section.swiper-container.mt-5
            .swiper-wrapper 
                .swiper-slide 
                        include ./partials/product.pug
                .swiper-slide
                        include ./partials/product.pug
                .swiper-slide
                        include ./partials/product.pug
                .swiper-slide
                        include ./partials/product.pug
                .swiper-slide
                        include ./partials/product.pug
                .swiper-slide
                        include ./partials/product.pug
                .swiper-slide
                        include ./partials/product.pug
                    
            .swiper-button-next
            .swiper-button-prev    

          

            