extends ./layouts/main.pug

block title
    | Boilerplate

block content
    .container
        .row.mt-5.justify-content-between
            .col-24.col-md-12
                .row.product-images
                    .col-24.col-sm-4.col-md-24.col-lg-4
                        .side-swiper
                            .swiper-wrapper
                                .swiper-slide
                                    img.w-100(src="images/detail-page-1.jpg", alt="")
                                .swiper-slide
                                    img.w-100(src="images/detail-page-2.png", alt="")
                                .swiper-slide
                                    img.w-100(src="images/detail-page-3.png", alt="")
                                .swiper-slide
                                    img.w-100(src="images/detail-page-1.jpg", alt="")
                                .swiper-slide
                                    img.w-100(src="images/detail-page-2.png", alt="")
                                .swiper-slide
                                    img.w-100(src="images/detail-page-3.png", alt="")
                        
                        i.fas.fa-arrow-up.side-swiper-control-prev.swiper-control 
                        i.fas.fa-arrow-down.side-swiper-control-next.swiper-control 
                    .col-24.col-sm-19.col-md-24.col-lg-19
                        .main-swiper 
                            .swiper-wrapper
                                .swiper-slide
                                    img.main-swiper-image.w-100(src="images/detail-page-1.jpg", alt="")
                                .swiper-slide
                                    img.w-100(src="images/detail-page-2.png", alt="")
                                .swiper-slide
                                    img.main-swiper-image.w-100(src="images/detail-page-3.png", alt="")
                                .swiper-slide
                                    img.main-swiper-image.w-100(src="images/detail-page-1.jpg", alt="")
                                .swiper-slide
                                    img.main-swiper-image.w-100(src="images/detail-page-2.png", alt="")
                                .swiper-slide
                                    img.main-swiper-image.w-100(src="images/detail-page-3.png", alt="")
            
                        i.fas.fa-arrow-left.main-swiper-control-prev.swiper-control 
                        i.fas.fa-arrow-right.main-swiper-control-next.swiper-control
                        ul.badge-container
                            li.badge.badge-blue NEU  
                            li.badge.badge-red SALE
                            li.badge.badge-green LIEFERBAR    
                
            .col-24.col-md-10.product-details.px-md-3
                h4.product-name.mb-3 Kesseböhmer LeMans II Eckschrank Beschlag anthrazit 450, 500 oder 600 mm Links / Rechts
                
                .quick-links
                    .row
                        span.col-4 Direkt zu
                        .col-20
                            a(href="/") Produktbeschreibung
                            a(href="/") Montage
                            a(href="/") Rezensionen
                            i.fas.fa-clipboard-list

                .select-type.mt-4
                    .row
                        span.col-24.col-md-4 Ausführung
                        .dropdown.col-24.col-md-20
                            button.btn.btn-light.dropdown-toggle(type="button", id="dropdownMenuButton", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Bitte Auswählen
                            .dropdown-menu(aria-labelledby="dropdownMenuButton")
                                a.dropdown-item(href="/") test
                                a.dropdown-item(href="/") test
                                a.dropdown-item(href="/") test
                    
                .price-area.mt-4
                    .row  
                        .col-20.offset-4
                            h1.price ab 288,06 EUR
                            p.taxes inkl. 19% MwSt. zzgl. Versand
                            p.delivery-info Sofort versandfertig, 1-3 Werktage
                
                .cart-area
                    .row
                        .col-4
                            input.quantity(type="number", placeholder=" 1", min="1") 
                        .col-20
                            <button class="btn add-to-cart btn-block"> <i class="fas fa-shopping-cart"></i>&nbsp;In den Warenkorb  </button>
                
                .good-to-know.mt-5
                    <div> <span class="check"></span></i> Versandkostenfrei ab 50€</div> <br>
                    <div> <span class="check"></span></i> Sicherer Bestellprozess (SSL)</div> <br>
                    <div> <span class="check"></span></i> Kostenlose Fachberatung</div> <br>
                    <div> <span class="check"></span></i> Trusted Shops zertifiziert</div> <br>

                .others
                    .product-ids
                        span Artikel-Nr.: 60826107
                        span Angebots-Nr.: 60826106
                    i.fas.fa-share

       
                


                